.who-section {
    position: relative;
    height: 70vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto; 
}

.video-container {
    position: absolute;
    top: 0;
    left: 10%;
    width: 300%;
    height: 80%;
    z-index: -10;
    overflow: hidden;
    margin-top: 3rem;
    padding: 2rem;
    max-width: 700px;
    height: 400px;
    text-align: center; 
    border-radius: 8px;
    margin-left: 30rem;
    margin-top: 5rem;
    
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.text-container {
    background: rgba(195, 191, 191, 0.9);
    padding: 3rem;
    max-width: 600px;
    height: 400px;
    text-align: center; 
    border-radius: 8px;
    color: black;
    margin-right: 40rem;
    margin-top: 20rem;
    
}

.text-container h2 {
    color: #333;
    margin-bottom: 1rem;
}

.text-container p {
    color: #555;
    margin-bottom: 1rem;
}

.text-container ul {
    list-style: none;
    padding: 0;
    color: #555;
    text-align: left;
    margin: 0 auto; 
}

.text-container ul li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.text-container ul li::before {
    content: '•';
    color: #E41F2C;
    font-weight: bold;
    display: inline-block; 
    width: 1rem;
    margin-right: 0.5rem;
}
